<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'products/css/skeleton.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'products/css/normalize.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'products/css/styles.css' %}">
	</head>
	<body>
		<h1>Products</h1>
		{% if messages%}
			{% for msg in messages %}
				<p class="errors">{{ msg }}</p>
			{% endfor %}
		{% endif %}
		<table>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Price</th>
				<th>Action</th>
			</tr>
			{% if data %}
				{% for product in data %}
					<tr>
						<td>{{ product.name }}</td>
						<td>{{ product.description }}</td>
						<td>{{ product.price }}</td>
						<td><a href="{% url 'products:show' product.id  %}">Show</a></td>
						<td><a href="{% url 'products:edit' product.id %}">Edit</a></td>
						<td><a href="{% url 'products:destroy' product.id %}">Delete</a></td>
					</tr>
				{% endfor %}
			{% endif %}
		</table>
		<a href="{% url 'products:new' %}">Add a Product</a>
		{% block body %}{% endblock %}
	</body>
</html>