* {
	padding: 0px;
	margin: 0px;
	font-family: verdana, sans-serif;
	border: 0px;
}
.container{
	margin: 0 auto;
	height: 870px;
	background: -webkit-radial-gradient(circle, #575555, #2A2929); 
	width: 970px;
}
#head{
	height: 80px;
	background: linear-gradient(grey,white);
}
	#heads1{
		margin-left: 20px;
		display: inline-block;
	}
	#heads2{
		display: inline-block;
		font-size: 10px;
		content: DarkGrey;
		margin-left: 240px;
		position: relative;
		bottom: 20px;
}
#mainMenu{
	display: inline-block;
	background: #E5E5E5;
	height: 65px;
	width: 970px;

}
	#navBar{
		padding: 5px 20px;
		background: linear-gradient(white,#DAD8F0);
	}
		#navBar ul li{
			color: grey;
			font-size: 14px;
			list-style-type: none;
			display: inline-block;
			padding: 0px 10px 5px 15px;
			margin-left: 20px;
		}
		#navBar li~li{
			border-left: solid 1px darkgrey;
		}
.body{
	 background: -webkit-radial-gradient(circle, #575555, #2A2929);

}
#mainImg{
	display: inline-block;
	margin-left: 30px;
	margin-top: 20px;
	border-style: solid;
	border-width: 5px;
	border-color: white;
}
#about{
	display: inline-block;
	height: 300px;
	width: 500px;
	margin-top: 20px;
	vertical-align: top;
	color: white;
}
	#aboutInfo{
		height: 246px;
		display: inline-block;
		padding: 10px;
		background: linear-gradient(to right,#434343,#313131);
		opacity: 0.8;
		font-size: 12px;
	}
	#aboutHead{
		height: 35px;
		padding: 5px;
		background: #ECC70D;
		color: black;
		font-size: 8px;
	}
	#aboutInfo h1{
		font-size: 16px;
	}
#snipBit{
	display: inline-block;
	margin: 10px 40px;
	color: lightyellow;
}
	#snipBit p{
		display: inline-block;
		font-size: 10px;
		color: #ECC70D;
		text-align: center;
	}
#services{
	display: inline-block;
	background: white;
}
#auto{
	vertical-align: top;
	height: 270px;
	width: 227px;
	margin-left: 30px;
	background: white;
	display: inline-block;
	font-size: 10px;
}
	#auto p, h6{
		padding: 10px;
	}
	#auto h6{
		text-align: right;
		font-size: 10px;
		margin: 9px;
	}
	#autoHead h1{ 
		padding: 5px;
		font-size: 10px;
		background: #ECC70D;
	}
#commercial{
	vertical-align: top;
	height: 270px;
	width: 227px;
	display: inline-block;
	background: white;
	font-size: 10px;
}
	#commercial p, h6{
		padding: 10px;
	}
	#commercial h6{
		text-align: right;
		font-size: 10px;
		margin: 9px;
	}
	#commHead h1{
		padding: 5px;
		font-size: 10px;
		background: #ECC70D;
	}
#industrial{
	vertical-align: top;
	height: 270px;
	width: 227px;
	display: inline-block;
	background: white;
	font-size: 10px;
}
	#industrial p, h6{
		padding: 10px;
	}
	#industrial h6{
		text-align: right;
		font-size: 10px;
		margin: 9px;
	}
	#indHead h1{
		padding: 5px;
		font-size: 10px;
		background: #ECC70D;
	}
#diesel{
	vertical-align: top;
	height: 270px;
	width: 227px;
	display: inline-block;
	background: white;
	// font-size: 10px;
}
	#diesel p{
		padding: 10px;
		font-size: 9.5px
	}
	#diesel h6{
		text-align: right;
		font-size: 9px;
		margin: 10px;
		padding: 10px;
	}
	#dieselHead h1{
		padding: 5px;
		font-size: 10px;
		background: #ECC70D;
	}
#read{
	height: 47px;
	margin-left: 116px;
	background: #ECC70D;
	border: 1px solid black;
	border-radius: 25px;

}